/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2018, 8:47:06 AM
    Author     : Aissam 
*/




.menu-item{
    -fx-background-image: none;
    -fx-background-color:transparent;
    -fx-text-fill:#AAAAAA;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;


}
.menu-item-selected {
    -fx-background-color:transparent;
    -fx-background-image: url("../practiceproject/icons/side.png");
    -fx-background-repeat: no-repeat;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill:white;

}
.menu-item:hover{
    -fx-background-color: #5E5F61;
    -fx-background-image: url("../practiceproject/icons/side.png");
    -fx-background-repeat: no-repeat;
}



.sideBar{

    -fx-background-color: #2C323E;
}
.logo{
    -fx-font-family :  'Yesteryear', cursive;
    -fx-font-size: 30px;
}
.dashLogo{
    -fx-font-family :  'Yesteryear', cursive;
    -fx-font-size: 25px;
    -fx-text-fill:#575757;
    -fx-background-color: white;
}

#topbar{
    -fx-background-insets: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#notif-lbl{
    -fx-background-radius: 100%;
    -fx-background-color : #FF5252;
}

.boxBorder{

    -fx-border-color:  #F2F2F2;
}

.boxText{
    -fx-text-fill:  #5C5C5C; 
}

.default-color0.chart-series-area-fill{
    -fx-fill : #DBEDF9;

}
.default-color0.chart-series-area-line{
    -fx-stroke: #0A83BF;
}

.default-color0.chart-area-symbol {
    -fx-background-color:#0A83BF;
}

#profileArrow :hover{
    -fx-text-fill:#0A83BF;
}

.glyph-icon-p{
    -fx-fill: #727272;
}
.glyph-icon-p:hover{
    -fx-fill: #04AEFF;
}

.default-color0.chart-pie { -fx-pie-color: #4A148C; }
.default-color1.chart-pie { -fx-pie-color: #0D47A1; }
.default-color2.chart-pie { -fx-pie-color: #81D4FA; }
.default-color3.chart-pie { -fx-pie-color: #E91E63; }
.default-color4.chart-pie { -fx-pie-color: #00B8D4; }