/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2018, 8:47:06 AM
    Author     : Aissam 
*/





.menu-item{
    
    -fx-background-color:transparent;
    -fx-background-image: none;
    -fx-text-fill:#CCCCCC;
    -fx-font-size: 15px;
   
}
.menu-item-selected {
    -fx-background-image: url("../practiceproject/icons/side.png");
    -fx-background-repeat: no-repeat;
    -fx-font-size: 15px;
    -fx-text-fill:red;
  
}
.menu-item:hover{
    -fx-background-color: #5E5F61;
}



.sideBar{
    
    -fx-background-color: #2C323E;
}
.logo{
    -fx-font-family :  'Yesteryear', cursive;
    -fx-font-size: 30px;
}
.dashLogo{
       -fx-font-family :  'Yesteryear', cursive;
        -fx-font-size: 25px;
       -fx-background-color: #02ABF5;
}

#top-bar{
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,10 );
}